@import "reset.css";
@import "login-form.css";
@import "clock.css";
@import "greeting.css";
@import "todo.css";
@import "quotes.css";
@import "weather.css";
@import "dday.css";

* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hidden {
  display: none;
}
.invisible {
  opacity: 0;
}
#too-small {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  background-color: gray;
  font-size: 32px;
  z-index: 10;
}
@media screen and (min-height: 600px) and (min-width: 800px) {
  #too-small {
    display: none;
  }
}
